* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}

div.container {
    max-width: 1300px;
}

ul {
    list-style-type: none;
}

[alt="Discord Logo"],
li,
button,
i,
div.lang {
    cursor: pointer;
}

button {
    padding: .6em 1.2em;
    border: 1px solid transparent;
    border-radius: 2em;
    margin: 0 .4em;
    font-size: 1em;
}

h1 {
    font-size: 3rem;
    padding-bottom: .5em;
}

h2 {
    font-size: 2rem;
}

main h1 {
    font-size: 2.8em;
    line-height: 1.1em;
}

p {
    line-height: 1.5em;
    font-size: 1.1em;
}

header {
    background-color: #255ee9;
}

header section.top-bar,
footer nav,
footer nav div.site-info,
section.bottom-bar {
    width: 80%;
    justify-content: space-between;
}

header section.top-bar {
    padding: 1.2em 1em;
}

img[alt="Discord Logo"] {
    width: 6.5em;
}

section.top-bar nav {
    padding: .4em;
}

section.top-bar button,
section.bottom-bar button {
    font-size: .8em;
}

section.top-bar nav li {
    display: inline-block;
    padding: 0 .8em;
}

header section.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

section .jumbotron-text {
    width: 60%;
    text-align: center;
    padding: 6.5em 2em 6.2em;
}

section .jumbotron-text button {
    margin: 0 .4em;
}

section.content>div {
    width: 100%;
    padding: 6em 9em 6em;
    align-items: flex-start;
    justify-content: space-around;
}

section.content.bg-lightgrey>div {
    justify-content: space-between;
}

section.content img {
    width: 58%;
}

section .content-text {
    width: 33%;
    padding-top: 1.6em;
}

section.main-content {
    padding-top: 2em;
    text-align: center;
}

section.main-content div.caption {
    width: 70%;
    padding-top: 3em;
}

section.main-content p {
    font-size: 1.16em;
    padding: 0 1.4em;
}

section.main-content img {
    width: 80%;
    padding-bottom: 2em;
}

section.main-content div.start {
    width: 43%;
    background-image: url(../img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2em 0 8em;
}

div.start h2 {
    padding-bottom: 1.5em;
}

footer nav {
    padding: 4em 0 2em;
    border-bottom: 1px solid #7289da;
    align-items: flex-start;
}

div.lang span {
    font-size: .8em;
    vertical-align: top;
}

div.lang i {
    font-size: .8em;
    vertical-align: text-top;
}

div.social-icons i {
    margin-right: 1em;
}

footer nav ul {
    padding: 0 1em;
}

footer nav ul li {
    color: white;
    margin-top: .8em;
}

section.bottom-bar {
    padding: 1em 0 5em;
}

#flag {
    width: 1.5em;
    margin-right: .1em;
}

/*  **  */
.centered {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.padd-b-1em {
    padding-bottom: 1em;
}

.bold {
    font-weight: bold;
}

/* ** HOVER */
li:hover {
    text-decoration: underline;
}

button:hover {
    box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.15);
    transition-duration: 0.2s;
}

.white-btn:hover {
    color: #7289da;
}

button.bg-darkgrey:hover {
    background-color: #292e32;
}

button.bg-lightblue:hover {
    background-color: #7e92dd;
}


/* ** STYLE */
/* // colors
    --lightblue: #7289da;
    --darkgrey: #23272a; 
    --lightgrey: #f6f6f6;
*/

.bg-lightblue {
    background-color: #7289da;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-lightgrey {
    background-color: #f6f6f6;
}

.wave {
    mask: url(../img/wave.svg);
    background-color: #f6f6f6;
    height: 4em;
}

.wave-bottom {
    transform: scaleY(-1);
}

.font-white {
    color: white;
}

.font-lightblue {
    color: #7289da;
}